<polymer-element name="polymer-app">
  <link rel="import" href="component/contact_table.html">
  <template>
    <style>
      button {
        padding: 1px;
        background: #ffcc99;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-style: outset;
        border-color: #d7b9c9;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      button:active {
        background: orangered;
        border-color: blue;
      } 
    </style>
    <button on-click="{{save}}">Save</button>
    <contact-table id="contact-table" 
      contacts="{{contacts}}"
    >
    </contact-table>
  </template>
  <script type="application/dart" src="polymer_app.dart"></script>
</polymer-element>


