<polymer-element name="contact-edit">
  <template>
    <style>
      label {
        font-family: verdana, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background: #336799;
        padding: 1px;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
      }
      input {
        font-family: arial, sans-serif;
        font-size: 14px;
      }
      button {
        padding: 1px;
        background: #ffcc99;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-style: outset;
        border-color: #d7b9c9;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      button:active {
        background: orangered;
        border-color: blue;
      } 
    </style>
    <br/>
    <label>Name</label>
    <input readonly="true" value="{{contact.code}}"/>
    <br/>
    <label for="{{contact.code}}-name">Nom</label>
    <input id="{{contact.code}}-name"
      type="text" size="96" value="{{name}}"
    />
    <br/>
    
    <label for="{{contact.code}}-email">email</label>
    <input id="{{contact.code}}-email"
      type="text" size="96" value="{{email}}"
    />
    <br/>
    
     <label for="{{contact.code}}-phone">phone</label>
    <input id="{{contact.code}}-phone"
      type="text" size="96" value="{{phone}}"
    />
    <br/>
    
    <button on-click="{{update}}">Update</button>
    <span id="message"></span>
  </template>
  <script type="application/dart" src="contact_edit.dart"></script>
</polymer-element>



