<polymer-element name="contact-add">
  <template>
    <style>
      label {
        font-family: verdana, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background: #336799;
        padding: 1px;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
      }
      input {
        font-family: arial, sans-serif;
        font-size: 14px;
      }
      button {
        padding: 1px;
        background: #ffcc99;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-style: outset;
        border-color: #d7b9c9;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      button:active {
        background: orangered;
        border-color: blue;
      } 
    </style>
    <div>
    <label>SVP entrez un code unique</label>
    <br/>
    <label for="code">Code</label>
    <input id="code" type="text"/>
    <br/>
    <label for="name">Name</label>
    <input id="name" type="text" size="32"/>
    <br/>
    <label for="email">email</label>
    <input id="email" type="email" size="96"/>
    <br/>
    <label for="phone">phone</label>
    <input id="phone" type="text" size="96"/>
    <br/>
    </div>
    <button on-click="{{add}}">Add</button>
    <span id="message"></span>
  </template>
  <script type="application/dart" src="contact_add.dart"></script>
</polymer-element>
