<polymer-element name="polymer-app">
  <link rel="import" href="component/contact_table.html">
  <template>
    <contact-table contacts="{{contacts}}"></contact-table>
  </template>
  <script type="application/dart" src="polymer_app.dart"></script>
</polymer-element>

